{% extends 'main.html' %} 
{% block content %} 

{% load static %}

{% if request.user.is_authenticated %}
  <div class="auth">
    <p><strong>Logged in as:</strong> {{request.user}}</p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    </div>
    {% else %}
    <div class="auth"><a href="{% url 'login' %}">Login</a></div>
  {% endif %}
<hr />
<h1>My To-do List</h1>
<a href="{% url 'task-create' %}">Add new task</a>

<table>
  <tr>
    <th>Item</th>
    <th></th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{task.title}}</td>
    <td><a href="{% url 'task' task.id %}">View</a></td>
    <td><a href="{% url 'task-update' task.id %}">Update</a></td>
    <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
  </tr>
  {% empty %}
  <h3>No items in list</h3>
  {% endfor %}
</table>
{% endblock content %}
